/* by egov File */

/*******************************************************************************************************************************/
.egov_file_box input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.egov_file_box label {
  display: inline-block;
  padding: .45em .75em;
  color: #fff;
  font-size: 11px;
  line-height: normal;
  vertical-align: middle;
  background-color: #4688d2;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .15em;
}  
.fileApend {
  vertical-align: middle;
}

.fileApend img{
  vertical-align: middle;
}